* {
    box-sizing: border-box;
}

//Color variables
$color1: #ff5252;
$color2: #32363e;
$color3: #212121;

//Include fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

//font-weight
$light: 300;
$normal: 400;
$medium: 600;
$bold: 700;

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
}

img {
    max-width: 100%;
}

//Imports
@import "partials/about";
@import "partials/contact";
@import "partials/footer";
@import "partials/header";
@import "partials/landing";
@import "partials/portfolio";
@import "partials/skill";