doctype html
html(lang="es")
    head
        title Liam Rosas | Desarrollador Front-end
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="description" content="Bienvenido y bienvenida a mi curriculum online.")
        link(rel="icon" href="./favicon.png")
        link(rel="stylesheet" href="./css/normalize.css")
        link(rel="stylesheet" href="./css/main.css")
    body
        header.header
            div.header__container
                svg.header__logo(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 156 28.5" xml:space="preserve" enable-background="new 0 0 156 28.5")
                    g(id="XMLID_40_")
                        g(id="XMLID_122_")
                            path.header__logo-path1(id="XMLID_1006_" d="M29.3 23L29 20.7c0.3-0.4 0.8-0.7 1.5-0.9V7.5c-0.7-0.2-1.2-0.6-1.5-0.9l0.3-2.2h6.3l0.3 2.2c-0.3 0.4-0.9 0.7-1.5 0.9V20h4.3c0.2-0.8 0.6-1.6 1-2l2 0.2V23H29.3zM42.8 9.4c1.4-0.3 3.5-0.4 5-0.3V20c0.6 0.2 1.2 0.6 1.5 0.9L49 23h-6.2l-0.3-2.1c0.3-0.4 0.8-0.7 1.5-0.9v-7.5c-0.6-0.2-1.1-0.5-1.5-0.9L42.8 9.4zM45.8 3.5c1.4 0 2.3 0.5 2.3 2.1 0 1.5-0.9 2-2.3 2s-2.2-0.5-2.2-2C43.6 4 44.5 3.5 45.8 3.5zM51.4 13.9c-0.4-0.7-0.5-2-0.4-3.3 1.4-0.7 3.5-1.4 5.7-1.4 3.3 0 5.1 1.2 5.1 4.7v5.8c0.5 0.1 1.1 0.2 1.5 0.5v2.4c0 0-1.4 0.7-4 0.7 0 0-0.3-0.7-0.5-1.7 -0.5 0.7-1.6 1.7-4.2 1.7 -2.3 0-4.4-1.4-4.4-4 0-2.2 1.5-3.8 4.8-3.8h3v-1.3c0-1.4-0.7-2.1-2.2-2.1 -0.5 0-0.9 0-1.4 0.2 0 0.5-0.2 1.4-0.3 1.8H51.4zM58 19.6v-2.2h-1.9c-1.4 0-2 0.6-2 1.5 0 0.9 0.5 1.5 1.7 1.5C56.9 20.4 57.7 20 58 19.6zM64.5 9.4c1.4-0.3 3.1-0.4 4.7-0.3v1.4c0.8-0.7 2.3-1.3 3.4-1.3 2.1 0 3.4 0.4 4.1 1.5 0.9-0.9 2.6-1.5 3.8-1.5 4 0 5 1.5 5 6.4V20c0.6 0.2 1.2 0.6 1.5 0.9L86.8 23h-6.2l-0.3-2.1c0.3-0.4 0.8-0.7 1.5-0.9v-5.4c0-2.1-0.5-2.5-1.9-2.5 -0.8 0-1.8 0.4-2.4 0.9 0.1 0.7 0.1 1.6 0.1 2.5V20c0.6 0.2 1.2 0.6 1.5 0.9L78.8 23h-6.2l-0.3-2.1c0.3-0.4 0.8-0.7 1.5-0.9v-5.4c0-2.1-0.5-2.5-1.9-2.5 -0.9 0-1.8 0.4-2.4 0.9v7c0.6 0.2 1.2 0.6 1.5 0.9L70.7 23h-6.2l-0.3-2.1c0.3-0.4 0.8-0.7 1.5-0.9v-7.5c-0.6-0.2-1.1-0.5-1.5-0.9L64.5 9.4zM95.3 4.3c4.7 0.1 7.5 1.1 7.5 5.5 0 2.7-2 4.2-4 5 0.7 0.3 1.4 0.7 1.8 1.4l2 3.8c0.7 0.2 1.4 0.6 1.7 1L104 23h-4.6l-3.1-6.6c-0.2-0.4-0.5-1-1-1h-1.8v4.3c1.1 0.2 2.1 0.6 2.5 1.1L95.7 23h-7.3l-0.3-2.2c0.3-0.4 0.8-0.7 1.5-0.9V7.5c-0.7-0.2-1.2-0.6-1.5-0.9l0.3-2.2H95.3zM93.5 7.2v5.1h1.5c2.3 0 3.7-0.6 3.7-2.5 0-2.1-1.5-2.6-3.6-2.6H93.5zM111.4 9.2c4.3 0 6.4 2 6.4 6.8 0 4.5-2.4 7.2-6.7 7.2 -4.3 0-6.3-2.2-6.3-6.9C104.8 11.7 107.1 9.2 111.4 9.2zM111.3 20.4c1.7 0 2.6-1.2 2.6-4.2 0-3.1-1-4.2-2.7-4.2 -1.7 0-2.5 1-2.5 4.1C108.7 19.2 109.7 20.4 111.3 20.4zM126.6 13.2c-0.2-0.4-0.4-0.8-0.5-1.3 -0.4-0.1-1.1-0.2-1.5-0.2 -1.1 0-1.8 0.4-1.8 1.1 0 0.5 0.4 1.1 1.9 1.5l2.1 0.6c2.1 0.5 3.3 1.6 3.3 3.8 0 2.5-1.7 4.6-5.8 4.6 -1.8 0-3.9-0.3-5-0.9 -0.1-1.1 0.1-2.4 0.6-3.3h2.2c0.2 0.4 0.4 0.8 0.5 1.4 0.5 0.1 1 0.2 1.5 0.2 1.2 0 2.4-0.2 2.4-1.4 0-0.5-0.2-0.9-1.6-1.3l-2.1-0.6c-1.9-0.5-3.5-1.5-3.5-4 0-2.4 2-4.1 5.3-4.1 1.5 0 3.4 0.2 4.7 0.8 0.1 1.1-0.1 2.3-0.6 3.1H126.6zM132.4 13.9c-0.4-0.7-0.5-2-0.4-3.3 1.4-0.7 3.5-1.4 5.7-1.4 3.3 0 5.1 1.2 5.1 4.7v5.8c0.5 0.1 1.1 0.2 1.5 0.5v2.4c0 0-1.4 0.7-4 0.7 0 0-0.3-0.7-0.5-1.7 -0.5 0.7-1.6 1.7-4.2 1.7 -2.3 0-4.4-1.4-4.4-4 0-2.2 1.5-3.8 4.8-3.8h3v-1.3c0-1.4-0.7-2.1-2.2-2.1 -0.5 0-0.9 0-1.4 0.2 0 0.5-0.2 1.4-0.3 1.8H132.4zM139 19.6v-2.2h-1.9c-1.4 0-2 0.6-2 1.5 0 0.9 0.5 1.5 1.7 1.5C138 20.4 138.7 20 139 19.6zM152.7 13.2c-0.2-0.4-0.4-0.8-0.5-1.3 -0.4-0.1-1.1-0.2-1.5-0.2 -1.1 0-1.8 0.4-1.8 1.1 0 0.5 0.4 1.1 1.9 1.5l2.1 0.6c2.1 0.5 3.3 1.6 3.3 3.8 0 2.5-1.7 4.6-5.8 4.6 -1.8 0-3.9-0.3-5-0.9 -0.1-1.1 0.1-2.4 0.6-3.3h2.2c0.2 0.4 0.4 0.8 0.5 1.4 0.5 0.1 1 0.2 1.5 0.2 1.2 0 2.4-0.2 2.4-1.4 0-0.5-0.2-0.9-1.6-1.3l-2.1-0.6c-1.9-0.5-3.5-1.5-3.5-4 0-2.4 2-4.1 5.3-4.1 1.5 0 3.4 0.2 4.7 0.8 0.1 1.1-0.1 2.3-0.6 3.1H152.7z")
                            g(id="XMLID_99_")
                                polygon.header__logo-path2(id="XMLID_121_" points="23 25.7 12.7 28.5 2.4 25.7 0 0 25.3 0")
                                polygon.header__logo-path3(id="XMLID_120_" points="12.7 2.1 12.7 26.3 12.7 26.3 21 24.1 22.9 2.1")
                                path.header__logo-path4(id="XMLID_87_" d="M3 12.5c1.8 0 2.9-0.6 2.9-2 0-0.9-0.3-2-0.3-2.9 0-2 1.3-2.9 2.6-2.9 0.9 0 1.9 0.2 2.4 0.5l-0.2 1.5c-0.4 0.2-1 0.2-1.5 0.2 -0.5 0-0.7 0.4-0.7 1.4s0.3 1.6 0.3 2.4c0 1.6-1.1 2.4-2.1 2.6v0.1c1 0.1 2.1 1 2.1 2.6 0 0.8-0.3 1.5-0.3 2.4 0 1 0.2 1.4 0.7 1.4 0.5 0 1.1 0.1 1.5 0.2l0.2 1.5c-0.5 0.3-1.5 0.5-2.4 0.5 -1.4 0-2.6-1-2.6-2.9 0-0.9 0.3-2 0.3-2.9 0-1.4-1.2-2-2.9-2V12.5zM22.2 14.3c-1.8 0-2.9 0.6-2.9 2 0 0.9 0.3 2 0.3 2.9 0 2-1.3 2.9-2.6 2.9 -0.9 0-1.9-0.2-2.4-0.5l0.2-1.5c0.4-0.2 1-0.2 1.5-0.2 0.5 0 0.7-0.4 0.7-1.4 0-1-0.3-1.6-0.3-2.4 0-1.6 1.1-2.4 2.1-2.6v-0.1c-1-0.1-2.1-1-2.1-2.6 0-0.8 0.3-1.5 0.3-2.4s-0.2-1.4-0.7-1.4c-0.5 0-1.1-0.1-1.5-0.2l-0.2-1.5C15 4.8 16 4.6 17 4.6c1.4 0 2.6 1 2.6 2.9 0 0.9-0.3 2-0.3 2.9 0 1.4 1.2 2 2.9 2V14.3z")
        section.landing
            div.landing__container
                div.landing__items
                    figure.landing__img-container
                        img.landing__img(src="./images/2.jpg" alt="liam-rosas")
                    h1.landing__title Desarrollador Front-end
                    p.landing__copy
                        |¿Necesitas un front-end para tu equipo? Mi nombre es Liam Rosas, me dedico a construir sitios web accesibles y responsivos.
        section.about
            div.about__container
                header.about__header
                    h2.about__header-title ¿Quién soy?
                div.about__text-container
                    p.about__text
                        |Soy Desarrollador front-end autodidacta de ya hace casi 4 años, me he especializado en HTML5, CSS, SVG y Js. Busco llevar a la práctica mis conocimientos desarrollándolos en el campo laboral.
                    p.about__text
                        |Soy adicto a los detalles, profundizo en la teoría que esta detrás de cada concepto, lo que no se lo investigo y no tengo miedo de probar nuevas metodologías de trabajo asi como nuevas herramientas.
                div.about__items-container
                    article.about__item
                        svg.about__item-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 50 50" xml:space="preserve" enable-background="new 0 0 50 50")
                            g(id="XMLID_172_")
                                circle.about__icon-circle(id="XMLID_192_" cx="25" cy="25" r="25")
                                g(id="XMLID_173_")
                                    g(id="Graduation_x5F_Cap_1_")
                                        g(id="XMLID_174_")
                                            path.about__icon-path(id="XMLID_175_" d="M37.2 20.8l-11.5-5.8c-0.2-0.1-0.4-0.2-0.6-0.2s-0.4 0.1-0.6 0.2l-11.5 5.8c-0.5 0.2-0.8 0.7-0.8 1.3s0.3 1.1 0.8 1.3l0.6 0.3v5.1c-0.4 0.2-0.7 0.7-0.7 1.2 0 0.8 0.6 1.4 1.4 1.4s1.4-0.6 1.4-1.4c0-0.5-0.3-1-0.7-1.2v-4.3l2.2 1.1V30c0 2.8 3.5 5 7.9 5s7.9-2.3 7.9-5v-4.5l4.2-2.1c0.5-0.2 0.8-0.7 0.8-1.3S37.6 21.1 37.2 20.8zM30.8 30c0 1.3-2.5 2.9-5.8 2.9s-5.8-1.5-5.8-2.9v-3.4l5.1 2.6c0.2 0.1 0.4 0.2 0.6 0.2s0.4-0.1 0.6-0.2l5.1-2.6V30zM25 27.1l-9.9-5 9.9-5 9.9 5L25 27.1z")
                        p.about__item-year 2007 - 2011
                        h3.about__item-title estudios universitarios
                        p.about__item-text
                            |Me título de la carrera como Licenciado en Diseño Gráfico.
                    article.about__item
                        svg.about__item-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 50 50" xml:space="preserve" enable-background="new 0 0 50 50")
                            g(id="XMLID_167_")
                                circle.about__icon-circle(id="XMLID_163_" cx="25" cy="25" r="25")
                                g(id="XMLID_168_")
                                    path.about__icon-path(id="XMLID_166_" d="M27.1 17.8c-0.8-0.2-1.6 0.2-1.8 1l-3.2 11.6c-0.2 0.8 0.2 1.6 1 1.8 0.1 0 0.3 0.1 0.4 0.1 0.6 0 1.2-0.4 1.4-1.1l3.2-11.6C28.3 18.8 27.9 18 27.1 17.8zM17.4 18.1c-0.6-0.5-1.5-0.4-2 0.2l-4.8 5.8c-0.4 0.5-0.4 1.3 0 1.9l4.8 5.8c0.3 0.3 0.7 0.5 1.1 0.5 0.3 0 0.7-0.1 0.9-0.3 0.6-0.5 0.7-1.4 0.2-2l-4-4.8 4.1-4.9C18.1 19.5 18 18.6 17.4 18.1zM39.7 24.1l-4.8-5.8c-0.5-0.6-1.4-0.7-2-0.2 -0.6 0.5-0.7 1.4-0.2 2l4 4.8 -4.1 4.9c-0.5 0.6-0.4 1.5 0.2 2 0.3 0.2 0.6 0.3 0.9 0.3 0.4 0 0.8-0.2 1.1-0.5l4.8-5.8C40.2 25.4 40.2 24.6 39.7 24.1z")
                        p.about__item-year 2013
                        h3.about__item-title dejo la carrera
                        p.about__item-text
                            |Me di cuenta que lo mio era el código y decido comenzar a estudiar HTML y CSS
                    article.about__item
                        svg.about__item-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 50 50" xml:space="preserve" enable-background="new 0 0 50 50")
                            g(id="XMLID_199_")
                                circle.about__icon-circle(id="XMLID_217_" cx="25" cy="25" r="25")
                                g(id="XMLID_200_")
                                    path.about__icon-path(id="XMLID_221_" d="M34 29.9h-6.5c-0.4 0-0.7 0.3-0.7 0.7l0 0.1 -3.6 0v-0.1c0-0.4-0.3-0.7-0.7-0.7H16c-0.4 0-0.7 0.3-0.7 0.7s0.3 0.7 0.7 0.7h5.9c0.2 0.5 0.7 0.8 1.3 0.8h3.6c0.6 0 1.1-0.3 1.3-0.8H34c0.4 0 0.7-0.3 0.7-0.7C34.7 30.3 34.4 29.9 34 29.9zM38.3 29.9H37V17.2c0 0 0 0 0-0.1 -0.1-1-0.9-1.8-1.9-1.8H14.8c-1 0-1.8 0.8-1.8 1.8v12.8h-1.3c-0.4 0-0.7 0.3-0.7 0.7V32c0 1.5 1.2 2.7 2.7 2.7h22.6c1.5 0 2.7-1.2 2.7-2.7v-1.3C39 30.3 38.7 29.9 38.3 29.9zM37.6 32c0 0.7-0.6 1.3-1.3 1.3H13.7c-0.7 0-1.3-0.6-1.3-1.3v-0.6h1.3c0.4 0 0.7-0.3 0.7-0.7V17.2c0-0.2 0.2-0.4 0.4-0.4h20.2c0.2 0 0.5 0.2 0.5 0.5v13.4c0 0.4 0.3 0.7 0.7 0.7h1.3V32zM28 27.1c0.1 0.2 0.3 0.2 0.5 0.2 0.2 0 0.3-0.1 0.5-0.2l3.5-3c0.2-0.1 0.2-0.3 0.2-0.5 0-0.2-0.1-0.4-0.2-0.5l-3.5-3c-0.3-0.3-0.7-0.2-1 0.1 -0.3 0.3-0.2 0.7 0.1 1l2.9 2.4 -2.9 2.4C27.8 26.3 27.8 26.8 28 27.1zM21 27.2c0.1 0.1 0.3 0.2 0.5 0.2 0.2 0 0.4-0.1 0.5-0.2 0.3-0.3 0.2-0.7-0.1-1L19 23.6l2.9-2.4c0.3-0.3 0.3-0.7 0.1-1 -0.3-0.3-0.7-0.3-1-0.1l-3.5 3c-0.2 0.1-0.2 0.3-0.2 0.5 0 0.2 0.1 0.4 0.2 0.5L21 27.2zM23.2 28c0.1 0 0.2 0.1 0.3 0.1 0.3 0 0.5-0.2 0.7-0.4l3-7.4c0.1-0.4 0-0.8-0.4-0.9 -0.4-0.1-0.8 0-0.9 0.4l-3 7.4C22.7 27.5 22.9 27.9 23.2 28z")
                        p.about__item-year 2016
                        h3.about__item-title comienzo a programar
                        p.about__item-text
                            |Al finalizar mi preparación como maquetador era hora de dar el salto a JavaScript
        section.skill
            div.skill__container
                header.skill__header
                    h2.skill__header-title Skills de Desarrollo Front-end
                    p.skill__header-text
                        |Este es mi set de lenguajes y herramientas con las que construyo el front-end de sitios web.
                div.skill__items-container
                    article.skill__item
                        header.skill__item-header
                            h3.skill__item-header-title Habilidades
                        ul.skill__item-list
                            li.skill__item-list-item
                                svg.skill__item-icon(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24")
                                    path(d="M16 19h-8c-1.654 0-3-1.346-3-3v-8c0-1.654 1.346-3 3-3h5c0.553 0 1 0.448 1 1s-0.447 1-1 1h-5c-0.552 0-1 0.449-1 1v8c0 0.551 0.448 1 1 1h8c0.552 0 1-0.449 1-1v-3c0-0.552 0.447-1 1-1s1 0.448 1 1v3c0 1.654-1.346 3-3 3z")
                                    path(d="M13.166 14.833c-0.35 0-0.689-0.139-0.941-0.391l-2.668-2.667c-0.52-0.521-0.52-1.365 0-1.885s1.365-0.521 1.887 0l1.416 1.417 3.475-5.455c0.357-0.644 1.17-0.877 1.814-0.519s0.875 1.17 0.518 1.813l-4.334 7c-0.203 0.366-0.566 0.615-0.98 0.673-0.064 0.010-0.124 0.014-0.187 0.014z")
                                |HTMl5
                            li.skill__item-list-item
                                svg.skill__item-icon(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24")
                                    path(d="M16 19h-8c-1.654 0-3-1.346-3-3v-8c0-1.654 1.346-3 3-3h5c0.553 0 1 0.448 1 1s-0.447 1-1 1h-5c-0.552 0-1 0.449-1 1v8c0 0.551 0.448 1 1 1h8c0.552 0 1-0.449 1-1v-3c0-0.552 0.447-1 1-1s1 0.448 1 1v3c0 1.654-1.346 3-3 3z")
                                    path(d="M13.166 14.833c-0.35 0-0.689-0.139-0.941-0.391l-2.668-2.667c-0.52-0.521-0.52-1.365 0-1.885s1.365-0.521 1.887 0l1.416 1.417 3.475-5.455c0.357-0.644 1.17-0.877 1.814-0.519s0.875 1.17 0.518 1.813l-4.334 7c-0.203 0.366-0.566 0.615-0.98 0.673-0.064 0.010-0.124 0.014-0.187 0.014z")
                                |CSS
                            li.skill__item-list-item
                                svg.skill__item-icon(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24")
                                    path(d="M16 19h-8c-1.654 0-3-1.346-3-3v-8c0-1.654 1.346-3 3-3h5c0.553 0 1 0.448 1 1s-0.447 1-1 1h-5c-0.552 0-1 0.449-1 1v8c0 0.551 0.448 1 1 1h8c0.552 0 1-0.449 1-1v-3c0-0.552 0.447-1 1-1s1 0.448 1 1v3c0 1.654-1.346 3-3 3z")
                                    path(d="M13.166 14.833c-0.35 0-0.689-0.139-0.941-0.391l-2.668-2.667c-0.52-0.521-0.52-1.365 0-1.885s1.365-0.521 1.887 0l1.416 1.417 3.475-5.455c0.357-0.644 1.17-0.877 1.814-0.519s0.875 1.17 0.518 1.813l-4.334 7c-0.203 0.366-0.566 0.615-0.98 0.673-0.064 0.010-0.124 0.014-0.187 0.014z")
                                |SVG
                            li.skill__item-list-item
                                svg.skill__item-icon(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24")
                                    path(d="M16 19h-8c-1.654 0-3-1.346-3-3v-8c0-1.654 1.346-3 3-3h5c0.553 0 1 0.448 1 1s-0.447 1-1 1h-5c-0.552 0-1 0.449-1 1v8c0 0.551 0.448 1 1 1h8c0.552 0 1-0.449 1-1v-3c0-0.552 0.447-1 1-1s1 0.448 1 1v3c0 1.654-1.346 3-3 3z")
                                    path(d="M13.166 14.833c-0.35 0-0.689-0.139-0.941-0.391l-2.668-2.667c-0.52-0.521-0.52-1.365 0-1.885s1.365-0.521 1.887 0l1.416 1.417 3.475-5.455c0.357-0.644 1.17-0.877 1.814-0.519s0.875 1.17 0.518 1.813l-4.334 7c-0.203 0.366-0.566 0.615-0.98 0.673-0.064 0.010-0.124 0.014-0.187 0.014z")
                                |JavaScript
                            li.skill__item-list-item
                                svg.skill__item-icon(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24")
                                    path(d="M16 19h-8c-1.654 0-3-1.346-3-3v-8c0-1.654 1.346-3 3-3h5c0.553 0 1 0.448 1 1s-0.447 1-1 1h-5c-0.552 0-1 0.449-1 1v8c0 0.551 0.448 1 1 1h8c0.552 0 1-0.449 1-1v-3c0-0.552 0.447-1 1-1s1 0.448 1 1v3c0 1.654-1.346 3-3 3z")
                                    path(d="M13.166 14.833c-0.35 0-0.689-0.139-0.941-0.391l-2.668-2.667c-0.52-0.521-0.52-1.365 0-1.885s1.365-0.521 1.887 0l1.416 1.417 3.475-5.455c0.357-0.644 1.17-0.877 1.814-0.519s0.875 1.17 0.518 1.813l-4.334 7c-0.203 0.366-0.566 0.615-0.98 0.673-0.064 0.010-0.124 0.014-0.187 0.014z")
                                |WordPress
                    article.skill__item
                        header.skill__item-header
                            h3.skill__item-header-title Herramientas
                        ul.skill__item-list
                            li.skill__item-list-item
                                svg.skill__item-icon(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24")
                                    path(d="M16 19h-8c-1.654 0-3-1.346-3-3v-8c0-1.654 1.346-3 3-3h5c0.553 0 1 0.448 1 1s-0.447 1-1 1h-5c-0.552 0-1 0.449-1 1v8c0 0.551 0.448 1 1 1h8c0.552 0 1-0.449 1-1v-3c0-0.552 0.447-1 1-1s1 0.448 1 1v3c0 1.654-1.346 3-3 3z")
                                    path(d="M13.166 14.833c-0.35 0-0.689-0.139-0.941-0.391l-2.668-2.667c-0.52-0.521-0.52-1.365 0-1.885s1.365-0.521 1.887 0l1.416 1.417 3.475-5.455c0.357-0.644 1.17-0.877 1.814-0.519s0.875 1.17 0.518 1.813l-4.334 7c-0.203 0.366-0.566 0.615-0.98 0.673-0.064 0.010-0.124 0.014-0.187 0.014z")
                                |Git
                            li.skill__item-list-item
                                svg.skill__item-icon(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24")
                                    path(d="M16 19h-8c-1.654 0-3-1.346-3-3v-8c0-1.654 1.346-3 3-3h5c0.553 0 1 0.448 1 1s-0.447 1-1 1h-5c-0.552 0-1 0.449-1 1v8c0 0.551 0.448 1 1 1h8c0.552 0 1-0.449 1-1v-3c0-0.552 0.447-1 1-1s1 0.448 1 1v3c0 1.654-1.346 3-3 3z")
                                    path(d="M13.166 14.833c-0.35 0-0.689-0.139-0.941-0.391l-2.668-2.667c-0.52-0.521-0.52-1.365 0-1.885s1.365-0.521 1.887 0l1.416 1.417 3.475-5.455c0.357-0.644 1.17-0.877 1.814-0.519s0.875 1.17 0.518 1.813l-4.334 7c-0.203 0.366-0.566 0.615-0.98 0.673-0.064 0.010-0.124 0.014-0.187 0.014z")
                                |Gulp
                            li.skill__item-list-item
                                svg.skill__item-icon(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24")
                                    path(d="M16 19h-8c-1.654 0-3-1.346-3-3v-8c0-1.654 1.346-3 3-3h5c0.553 0 1 0.448 1 1s-0.447 1-1 1h-5c-0.552 0-1 0.449-1 1v8c0 0.551 0.448 1 1 1h8c0.552 0 1-0.449 1-1v-3c0-0.552 0.447-1 1-1s1 0.448 1 1v3c0 1.654-1.346 3-3 3z")
                                    path(d="M13.166 14.833c-0.35 0-0.689-0.139-0.941-0.391l-2.668-2.667c-0.52-0.521-0.52-1.365 0-1.885s1.365-0.521 1.887 0l1.416 1.417 3.475-5.455c0.357-0.644 1.17-0.877 1.814-0.519s0.875 1.17 0.518 1.813l-4.334 7c-0.203 0.366-0.566 0.615-0.98 0.673-0.064 0.010-0.124 0.014-0.187 0.014z")
                                |Sass
                            li.skill__item-list-item
                                svg.skill__item-icon(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24")
                                    path(d="M16 19h-8c-1.654 0-3-1.346-3-3v-8c0-1.654 1.346-3 3-3h5c0.553 0 1 0.448 1 1s-0.447 1-1 1h-5c-0.552 0-1 0.449-1 1v8c0 0.551 0.448 1 1 1h8c0.552 0 1-0.449 1-1v-3c0-0.552 0.447-1 1-1s1 0.448 1 1v3c0 1.654-1.346 3-3 3z")
                                    path(d="M13.166 14.833c-0.35 0-0.689-0.139-0.941-0.391l-2.668-2.667c-0.52-0.521-0.52-1.365 0-1.885s1.365-0.521 1.887 0l1.416 1.417 3.475-5.455c0.357-0.644 1.17-0.877 1.814-0.519s0.875 1.17 0.518 1.813l-4.334 7c-0.203 0.366-0.566 0.615-0.98 0.673-0.064 0.010-0.124 0.014-0.187 0.014z")
                                |Pug
                            li.skill__item-list-item
                                svg.skill__item-icon(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24")
                                    path(d="M16 19h-8c-1.654 0-3-1.346-3-3v-8c0-1.654 1.346-3 3-3h5c0.553 0 1 0.448 1 1s-0.447 1-1 1h-5c-0.552 0-1 0.449-1 1v8c0 0.551 0.448 1 1 1h8c0.552 0 1-0.449 1-1v-3c0-0.552 0.447-1 1-1s1 0.448 1 1v3c0 1.654-1.346 3-3 3z")
                                    path(d="M13.166 14.833c-0.35 0-0.689-0.139-0.941-0.391l-2.668-2.667c-0.52-0.521-0.52-1.365 0-1.885s1.365-0.521 1.887 0l1.416 1.417 3.475-5.455c0.357-0.644 1.17-0.877 1.814-0.519s0.875 1.17 0.518 1.813l-4.334 7c-0.203 0.366-0.566 0.615-0.98 0.673-0.064 0.010-0.124 0.014-0.187 0.014z")
                                |Sublime Text
        section.portfolio
            div.portfolio__container
                header.portfolio__header
                    h2.portfolio__header-title Portafolio
                    p.portfolio__header-text
                        |Estos son algunos de los proyectos que he creado.
                div.portfolio__links-container
                    ul.portfolio__list
                        li.portfolio__list-item: a.portfolio__link(href="#" target="_blank") liamrosvel.github.io/<span class="portfolio__link-color">proyecto 1</span>
                        li.portfolio__list-item: a.portfolio__link(href="#" target="_blank") liamrosvel.github.io/<span class="portfolio__link-color">proyecto 2</span>
                    ul.portfolio__list
                        li.portfolio__list-item: a.portfolio__link(href="#" target="_blank") liamrosvel.github.io/<span class="portfolio__link-color">proyecto 1</span>
                        li.portfolio__list-item: a.portfolio__link(href="#" target="_blank") liamrosvel.github.io/<span class="portfolio__link-color">proyecto 1</span>
        section.contact
            div.contact__container
                header.contact__header
                    h2.contact__header-title ¡Hagamos equipo juntos!
                a.contact__button(href="mailto:liamrosvel@gmail.com") contáctame
        footer.footer
            div.footer__container
                div.footer__social
                    h3.footer__social-title conecta conmigo en
                    a.footer__social-link(href="https://github.com/LiamRosvel")
                        svg.footer__social-github(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32")
                            path(d="M16 0.395c-8.836 0-16 7.163-16 16 0 7.069 4.585 13.067 10.942 15.182 0.8 0.148 1.094-0.347 1.094-0.77 0-0.381-0.015-1.642-0.022-2.979-4.452 0.968-5.391-1.888-5.391-1.888-0.728-1.849-1.776-2.341-1.776-2.341-1.452-0.993 0.11-0.973 0.11-0.973 1.606 0.113 2.452 1.649 2.452 1.649 1.427 2.446 3.743 1.739 4.656 1.33 0.143-1.034 0.558-1.74 1.016-2.14-3.554-0.404-7.29-1.777-7.29-7.907 0-1.747 0.625-3.174 1.649-4.295-0.166-0.403-0.714-2.030 0.155-4.234 0 0 1.344-0.43 4.401 1.64 1.276-0.355 2.645-0.532 4.005-0.539 1.359 0.006 2.729 0.184 4.008 0.539 3.054-2.070 4.395-1.64 4.395-1.64 0.871 2.204 0.323 3.831 0.157 4.234 1.026 1.12 1.647 2.548 1.647 4.295 0 6.145-3.743 7.498-7.306 7.895 0.574 0.497 1.085 1.47 1.085 2.963 0 2.141-0.019 3.864-0.019 4.391 0 0.426 0.288 0.925 1.099 0.768 6.354-2.118 10.933-8.113 10.933-15.18 0-8.837-7.164-16-16-16z")
                        |/LiamRosvel
                div.footer__copyright
                    p.footer__copyright-text
                        |Este es el curriculum en línea  de Liam Rosas | Desarrollador Web Front-End | made with
                        svg.footer__copyright-heart(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 32 32")
                            path(d="M16.042 8.345c0 0-2-4.262-6.5-4.262-4.917 0-7.5 4.167-7.5 8.333 0 6.917 14 15.5 14 15.5s13.916-8.5 13.916-15.5c0-4.25-2.666-8.333-7.416-8.333s-6.5 4.262-6.5 4.262z")
